ansible-core
ansible-runner
flit_core
importlib-resources
netifaces
osc-lib
oslo.concurrency
oslo.config
oslo.log
ovn-bgp-agent
pymemcache
python-barbicanclient
python-cinderclient
python-designateclient
python-glanceclient 
python-ironicclient
python-keystoneclient
python-manilaclient
python-neutronclient
python-novaclient
python-observabilityclient
python-octaviaclient
python-openstackclient
python-swiftclient
pyroute2
PyYAML
tenacity
